<div class="input-group" id="searchbar">
    <input type="text" class="form-control" placeholder="Procure por projetos..." />
    <div class="input-group-btn">
        <div class="btn-group">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#dropsearch" aria-controls="dropsearch" aria-expanded="false"><i class="fa fa-caret-down"></i></button>
                <div class="collapse" id="dropsearch">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-target="premiados">Premiados</button>
                        <button type="button" class="btn btn-danger" data-target="naopremiados">Não Premiados</button>
                        <button type="button" class="btn btn-default" data-target="all">Todos</button>
                    </div>
                </div>
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>